*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
}

/* Scroll Bar Styling */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3E4346;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border: 3px solid #3E4346;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

::-webkit-scrollbar-thumb:active {
  background: #f4f4f4;
}

::selection {
  background-color: rgba(15, 22, 39, 0.6);
  color: white;
}