.movie_tv-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid #353845;
  transition: all .25s ease;
  box-shadow: -.1rem .8rem 1rem rgb(8, 8, 8);
  transform: scale(.96);
  cursor: pointer;

  &:hover {
    border: 3px solid #f4f4f4;
  }

  &:hover .movie-image {
    filter: brightness(.25);
  }

  .movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .25s ease;
  }

  .movie-info-container {
    position: absolute;
    bottom: -35%;
    left: 0;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .25s ease;
    pointer-events: none;

    .movie-title {
      letter-spacing: 1px;
      font-size: 1.1vw;
      margin: 0;
    }

    .movie-overview {
      line-height: 1.45;
      letter-spacing: .4px;
      font-size: .82vw;
    }
  }

  &:hover .movie-info-container {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }

}

@media only screen and (max-width: 1366px) {
  .movie_tv-wrapper {

    .movie-info-container {

      .movie-title {
        font-size: 1.4vw;
      }
      .movie-overview {
        font-size: .94vw;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .movie_tv-wrapper {

    .movie-info-container {
      padding: 15px;

      .movie-title {
        font-size: 1.6vw;
      }
      .movie-overview {
        font-size: 1.3vw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .movie_tv-wrapper {

    .movie-info-container {

      .movie-title {
        font-size: 2vw;
      }
      .movie-overview {
        font-size: 1.55vw;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .movie_tv-wrapper {

    .movie-info-container {

      .movie-title {
        font-size: 2.7vw;
      }
      .movie-overview {
        font-size: 2.2vw;
      }
    }
  }
}