.viewers-container {
  margin-top: 30px;
  padding: 30px 0 26px;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 25px;

  .viewer-wrapper {
    position: relative;
    border: 3px solid #f9f9f92d;
    border-radius: 10px;
    box-shadow: 0px 26px 30px -10px #000000ab, 0px 16px 10px -10px #000000bd;
    background: linear-gradient(180deg, rgb(2, 5, 15) 0%, #161d38 100%);
    transition: all .25s;
    cursor: pointer;

    .viewer-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .viewer-bg-video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease;
    }

    &:hover {
      transform: scale(1.04);
      border: 3px solid #f9f9f9cc;
      background: none;
    }

    &:hover .viewer-bg-video  {
      opacity: 1;
      visibility: visible;
    }
  }

  .star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
      
    .star {
      object-fit: contain;
      width: 50%;
      opacity: 1;
      transition: all .25s;
    }

    &:hover .star {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .viewers-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 550px) {
  .viewers-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}