.series-page-container {
  padding: 0 40px;
  padding-bottom: 2rem;

  .series-page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 2rem 0;
  }

  .series-content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 1366px) {
  .series-page-container {

    .series-content-wrapper {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

@media only screen and (max-width: 768px) {
  .series-page-container {
    padding-bottom: 6rem;

    .series-content-wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media only screen and (max-width: 550px) {
  .series-page-container {

    .series-content-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}