.image-slider-container {
  margin-top: 10px;


  // All slick buttons
  ul li button {
    &:before {
      font-size: 10px;
      color: #969eab;
    }
  }

  // Active slick button
  .slick-dots .slick-active button::before {
    color: white;
  }

  // Selector dots
  .slick-dots {
    transform: scale(1.1);
  }
  
  // Arrow buttons
  .slick-arrow {
    transform: scale(1.5);
  }

  // List of all images to slide through
  .slick-list {
    overflow: visible;
  }

  // To show previous arrow button
  button {
    z-index: 1;
  }

  .image-wrapper {
    width: 100%;
    height: 500px;
    cursor: pointer;

    .image-slider-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
      border: 4px solid transparent;
      border-radius: 4px;
      box-shadow: 0px 26px 30px -10px #000000ab, 0px 16px 10px -10px #000000bd;
      transition: all .22s;

      &:hover {
        border: 4px solid #f4f4f4e0;
      }
    }

    // .raya {
    //   object-position: 50% 30%;
    // }
    // .encanto {
    //   object-position: top;
    // }
    // .luca {
    //   object-position: 50% 26%;
    // }
    

  }
}

@media only screen and (min-width: 2000px) {
  .image-slider-container {
    
    .image-wrapper {
      height: 680px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .image-slider-container {
    
    .image-wrapper {
      height: 380px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .image-slider-container {
    
    .image-wrapper {
      height: 300px;

      .image-slider-image {
        object-position: 50% 40%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .image-slider-container {
    
    .image-wrapper {
      height: 200px;
    }

    .slick-prev {
      left: 0rem;
    }

    .slick-next {
      right: 0rem;
    }
  }
}