.movies-page-container {
  padding: 0 40px;
  padding-bottom: 2rem;

  .movies-page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 2rem 0;
  }

  .movies-content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;

    .movie-wrapper {
      position: relative;
      overflow: hidden;
      border: 2px solid rgb(92, 92, 92);
      border-radius: 4px;
      transition: all .25s ease;
      cursor: pointer;

      &:hover {
        border: 2px solid #f4f4f4;
      }

      &:hover .movie-info-container {
        top: 0;
        opacity: 1;
        visibility: visible;
      }
      
      .movie-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .movie-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        top: 3rem;
        opacity: 0;
        visibility: hidden;
        transition: all .25 ease;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .movies-page-container {

    .movies-content-wrapper {
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .movie-wrapper {


        .movie-info-container {


          .movie-title {
            font-size: 1.55vw;
          }
    
          .movie-overview {
            font-size: 1vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .movies-page-container {
    padding-bottom: 6rem;

    .movies-content-wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));

    }
  }
}

@media only screen and (max-width: 550px) {
  .movies-page-container {

    .movies-content-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));

    }
  }
}